html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.formContainer {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.formContainer > div {
  margin: 10px;
}

.formContainer h1 {
  word-break: break-all;
}

@media (max-width: 600px) {
  .formContainer {
    display: block;
  }

  .formContainer h1 {
    font-size: 1.2rem;
  }
}

form {
  background: white;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
}

#w3dFile {
  opacity: 0;
}

#fileUploadSection p {
  background: #eee;
  border: 1px solid black;
  padding: 10px 16px;
}

#fileUploadSection p.error {
  background: #ff9999;
}

form label,
form button {
  background-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

form button,
form label,
form input {
  cursor: pointer;
}

form label:hover,
form button:hover {
  background-color: #b3b3b3;
  color: black;
}

form label:active,
form button:active {
  background-color: #808080;
  color: black;
}

#fileUploadBtnSection > p {
  color: red;
  margin: 0;
  font-size: 0.8rem;
}
